.another-yellow {
  font-weight: bold;
  --ion-background-color: yellow !important;
  opacity: 0.5;
}
.another-red {
  font-weight: bold;
  color: white;
  --ion-background-color: red;
  opacity: 0.5;
}
.another-blue {
  font-weight: bold;
  color: white;
  --ion-background-color: blue;
  opacity: 0.5;
}
.another-black {
  font-weight: bold;
  color: white;
  --ion-background-color: black;
  opacity: 0.5;
}
.another-green {
  font-weight: bold;
  --ion-background-color: green;
  opacity: 0.5;
}
